@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/**
 * Generic styles
 *
 * @author Moïse VanKeymeulen
 *
 */

/* ===========================================
   Custom reset
   =========================================== */

html {
	font-size: 0.625em;  
	font-family: 'Open Sans', sans-serif;
	padding: 70px 0px 0px 70px;
}

* {
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset {
	border: 0;
}

/* ===========================================
   Helpers
   =========================================== */

.structural {
	position: absolute;
	left: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.ir {
	display: block;
	background-size: 100%; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
}

.hidden {
	position: absolute !important;
	visibility: hidden !important;
	z-index: -1 !important;
}

